@media screen and (min-width : 768px){
	header label{
		display: none;
	}
}
@media screen and (min-width : 576px) and (max-width : 767px){
	header nav{display: none;}
	header input:checked ~ nav{display: block;} 
	.contentImage1,.contentImage{display: none;}
}
@media screen and (max-width : 575px){
	header nav{display: none;}
	header input:checked ~ nav{display: block;} 
	.contentImage1,.contentImage{display: none;}
}