/*
	1- Commun Styles
	2 - General Styles
	3 - Sections : 
		3.1 - Home Section
		3.2 - About Section
		3.3 - Gallery Section
*/
/* Commun */
/*
	- Effects
*/
/* General Css Styles */

body{
    font-family:"Open Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.list-style{
    list-style: none;
}
:root{
    --mainColor : #1dc8cd;
}
.backgroundImage{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
header input{
    display: none;
}
header input,
header label{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
}
.centerEle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.botn{
    border-radius: 30px;
    padding: 10px ;
    border: 2px solid #fff;
    width: 150px;
    background-color: transparent;
    color: #fff;
    transition : all 1s;
}
.botn:hover{
    background-color: #fff;
    color: var(--mainColor);
}
.resImg{
    width: 100%;
}
/* Start Header  */
header{
    position: relative;
}

header a.text-capitalize{
    font-size: 30px;
}
/* End Header */
/* Start section */
section.backgroundImage{
    background-image: url("C:/Users/Mr. Idrissi/Desktop/Sites/Avilon/Avilon Fait/img/intro-bg.jpg");
    height: 100vh;
    position: relative;
}
.overlay{
    background-color:  rgba(29, 200, 205, 0.8);
    height: 100%;
}
.contentHeader{
    text-align: center;
}
section.backgroundImage h2{
    font-size: 60px;
}
.contentImage{
    height: 300px;
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    left: 10px;
}
.contentImage1{
    height: 430px;
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
section.feauture main h3{
    font-size: 35px;
    padding-top: 20px;
}
section.feauture i{
    color: var(--mainColor);
    font-size: 30px;
}
.bothSide{
    align-items: center;
}
.contentBoth{
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.contentPrice{
    background-color: #fff;
}
.contentPrice .ActivBt{
    background-color: #000 !important;
}
.contentPrice .activeBtn{
    background-color: #1dc8cd;
}
.contentPrice li{
    line-height: 2.5rem;
}
.activePrice{
    transform: scale(1.05);
    border: 2px solid var(--mainColor);
}
section.Gallery .col-md-4 {
    padding: 0 !important;
}
section.Gallery .col-md-4:hover img{
    transform: scale(1.02);
    transition: 1s;
}
/* End section */
/* Start Main  */
section.pricing,
section.Feat,
.contentSection,
section.Team,
main{
    background-color: #eff5f5;
}
main span{
    background-color: var(--mainColor);
    height: 3px;
    width: 150px;
    margin: 20px auto;
}
main:hover span{
    transition: width 1s;
    width: 100px;
}
/* End Main */
/* Start aside */
/* End aside */
/* Start Article */
article{
    background-image: url("C:/Users/Mr. Idrissi/Desktop/Sites/Avilon/Avilon Fait/img/call-to-action-bg.jpg");
    height: 100%;
    background-attachment: fixed;
}
article button{
    margin-left: 10%;
}
.contenue{
    display: flex;
    align-items: center;
    margin: 10px;
}
.contenue i{
    color: var(--mainColor);
    font-size: 50px;
    padding: 10px ;
}
.contenue p{
    padding-left: 10px;
}
/* End Article */
/* Start Footer */
footer h5{
    color: var(--mainColor);
}
footer .icons i{
    margin: 0 10px;
    color: var(--mainColor);
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--mainColor);
}
.Copyright{
    box-shadow:0 -11px 17px -19px black ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Copyright p{
    margin: auto;
}
/* End Footer  */

/* Animation */